<div class="revise-refill-modal-wrapper" aria-labelledby="dialog-label">
    <div class="drug-details">
        <p ng-bind-html="'REGISTRATION_CONTENT_ENTERING_ID' | translate:'{sizeOfTheJump : ngDialogData.sizeOfTheJump}'"></p>
    </div>

    <div class="dialog-button-group">
        <button id="modal-refill-button" class="secondary-button" ng-click="yes()" translate-once="REGISTRATION_LABEL_YES"></button>
        <button id="modal-revise-button" class="secondary-button" ng-click="no()" focus-on="{{true}}" translate-once="REGISTRATION_LABEL_NO"></button>
    </div>
</div>


