
.admin-app {
	background: $white;

	input[type="radio"]:focus {
		outline: none;
	}

	.opd-wrapper {
		.opd-content-wrapper {
			padding-top: 20px;
		}
	}

	.select-file-form {
		display: flex;
	}

	.select-file-type {
		width: 80%; min-width: 80%;
		box-sizing: border-box;
		float: left;
		margin: 0;
		display: flex;
		li { 
			float: left;
			width: 25%;
			padding: 5px;
			box-sizing: border-box;
			label {
				margin-top: 0;
			}
		}
	}

	.upload-selected-file {
		width: 20%; min-width: 20%;
		box-sizing: border-box;
		float: left;
		margin: 0;
		display: flex;
	}


	/*upload btn*/
	.input-file-upload {
		position: absolute;
		left: -9999px;
		visibility: hidden;
		& + label {
			padding: 10px;
			border-radius: 3px;
			text-align: center;
			margin: 0;
		}
	}

	.csv-upload-page .section-grid {
		margin-top: 20px;
	}

	.refresh-btn {
		padding: 5px;
		position: relative;
		top: -7px; right: -7px;
		font-size: 14px;
		font-family: $primaryFont, Arial, sans-serif;
	}

	.file-to-upload .actions {
		width: 200px;
	}

	table { font-size: 13px; }


}

.csv-export-page {
	form { padding: 20px; }

	input[type="text"] {
		float: left;
		margin-right: 10px;
	}

	button.export-csv {
		margin-top: 5px;
	}

}
.element-types{
  float: left;
  width: 30%
}

.form-builder-pane{
  float: right;
  width: 70%
}
.element-type {
  width: 170px;
  padding: 5px 10px;
  margin: 5px 0;
  border: 2px solid #444;
  border-radius: 5px;
  background-color: #EA8A8A;

  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
  cursor: move;
}

.form-container {
  border: 2px dashed blue;
  margin: 10px 10px 0 0;
  padding: 5px;
  min-width:200px;
  min-height:50px;
}